html
    head
        title My Pug App
    body(class=['myClass'])
        h1(id='myId') MyApp 
        p
            h3 Sub header
        ul
            each val in list
                li=val